h1 {
    color: #afeeee;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 50px;
    background-color: white
}

h6 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 50px;
}

main, body, html {
    background-color: white;
}

#apply-button {
    background-color: gray
}

#generate-button {
    background-color: gray;
}

::selection {
    background: lightgoldenrodyellow;
  }

table{

    border: 10px solid grey;
    border-color: #d3d3d3;
    border-top-right-radius: 25px
}

th {
     border: 10px solid grey;
     border-color: #d3d3d3;
     height: 300px
}

.color-box {
    padding: 50px
}

.btn-lg {
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

